<%- include('../adminView/layout/adminHeader.ejs')%>
      <%- include('../adminView/layout/adminSidebar.ejs')%>

            <div class="main-panel">
                  <div class="content-wrapper">
                        <div class="row ">
                              <div class="col-12 grid-margin">
                                    <div class="card">
                                          <div class="col-12 grid-margin stretch-card">
                                                <div class="card">
                                                      <div class="card-body">
                                                            <h4 class="card-title">Add product</h4>
                                                            <form id="editPro" action="/admin/prodectEdited?id=<%= updateData._id %>"
                                                                  method="post" class="forms-sample"
                                                                  enctype="multipart/form-data">
                                                                  <div class="form-group">
                                                                        <label for="exampleInputName1">Product
                                                                              Name</label>
                                                                        <input type="text" id="name" name="name"
                                                                              class="form-control"
                                                                              value="<%= updateData.name %>" 
                                                                              placeholder="Name">
                                                                              <p id="nameError" style="color: red; display: none;"></p>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label
                                                                              for="exampleInputCategory">Category</label>
                                                                        <select id="category" name="category"
                                                                              class="form-control"
                                                                              <% categoryData.forEach((element)=>{ %>
                                                                                    <option>
                                                                                          <%=element.categoryName%>
                                                                                    </option>
                                                                                    <% }) %>
                                                                        </select>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label for="exampleInputName1">Stock</label>
                                                                        <input type="number" id="quantity" name="quantity"
                                                                              class="form-control"
                                                                              value="<%= updateData.quantity %>"
                                                                              placeholder="Stock">
                                                                              <p id="quanError" style="color: red; display: none;"></p>
                                                                              
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label for="exampleInputName1">Price</label>
                                                                        <input type="number" id="price" name="price"
                                                                              class="form-control"
                                                                              value="<%= updateData.price %>" 
                                                                              placeholder="Price">
                                                                              <p id="priceError" style="color: red; display: none;"></p>
                                                                  </div>
                                                                  <!-- hashir -->
                                                                  <div style="display: flex;">
                                                                        <div
                                                                              class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                              <label for="imageInput1"
                                                                                    class="image-label ">Image 1
                                                                                    <div class="sqr-img">
                                                                                          <img src="/products/crop/<%= updateData.images.image1%>"
                                                                                                alt="">
                                                                                    </div>
                                                                                    <input name="image1" type="file"
                                                                                          accept="image/*"
                                                                                          id="imageInput1" accept=""
                                                                                          class="imageInput">
                                                                              </label>
                                                                        </div>
                                                                        <div
                                                                              class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                              <label for="imageInput2"
                                                                                    class="image-label ">Image 2
                                                                                    <div class="sqr-img">
                                                                                          <img src="/products/crop/<%= updateData.images.image2%>"
                                                                                                alt="">
                                                                                    </div>
                                                                                    <input name="image2" type="file"
                                                                                          accept="image/*"
                                                                                          id="imageInput2" accept=""
                                                                                          class="imageInput">
                                                                              </label>
                                                                        </div>
                                                                        <div
                                                                              class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                              <label for="imageInput3"
                                                                                    class="image-label ">Image 3
                                                                                    <div class="sqr-img">
                                                                                          <img src="/products/crop/<%= updateData.images.image3%>"
                                                                                                alt="">
                                                                                    </div>
                                                                                    <input name="image3" type="file"
                                                                                          accept="image/*"
                                                                                          id="imageInput3" accept=""
                                                                                          class="imageInput">
                                                                              </label>
                                                                        </div>
                                                                        <div
                                                                              class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                              <label for="imageInput3"
                                                                                    class="image-label ">Image 4
                                                                                    <div class="sqr-img">
                                                                                          <img src="/products/crop/<%= updateData.images.image4%>"
                                                                                                alt="">
                                                                                    </div>
                                                                                    <input name="image4" type="file"
                                                                                          accept="image/*"
                                                                                          id="imageInput4" 
                                                                                          class="imageInput">
                                                                              </label>
                                                                        </div>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label
                                                                              for="exampleTextarea1">Description</label>
                                                                        <textarea class="form-control" 
                                                                        id="description" name="description"
                                                                              rows="4"><%= updateData.description %>
                                                                        </textarea>
                                                                        <p id="descError" style="color: red; display: none;"></p>
                                                                  </div>
                                                                  <button type="submit"
                                                                        class="btn btn-primary mr-2">Submit</button>
                                                                  <a href="/admin/productManagmen"><button type="button"
                                                                              class="btn btn-dark">Cancel</button></a>
                                                            </form>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- content-wrapper ends -->
                  <!-- partial:partials/_footer.html -->
                  <!-- partial -->
            </div>
            <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->

            <script src="/admin/assets/js/editProductVal.js"></script>
            <%- include('../adminView/layout/adminFooter.ejs')%>