<%- include('../adminView/layout/adminHeader.ejs')%>
      <%- include('../adminView/layout/adminSidebar.ejs')%>

            <div class="main-panel">
                  <div class="content-wrapper">
                        <div class="row ">
                              <div class="col-12 grid-margin">
                                    <div class="card">
                                          <div class="col-12 grid-margin stretch-card">
                                                <div class="card">
                                                      <div class="card-body">
                                                            <h4 class="card-title">Add Coupon</h4>
                                                            <form method="post"
                                                                  action="/admin/editedCoupon?id=<%= coupons._id %>"
                                                                  class="forms-sample">
                                                                  <div class="form-group">
                                                                        <label>Coupon name</label>
                                                                        <input type="text" name="couponName"
                                                                              class="form-control"
                                                                              value="<%= coupons.couponName %>"
                                                                              id="exampleInputName1">
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label>Coupon code</label>
                                                                        <input type="text" name="couponCode"
                                                                              class="form-control"
                                                                              value="<%= coupons.couponCode %>"
                                                                              id="exampleInputName1">
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label>Discount amount</label>
                                                                        <input type="number" name="discountAmount"
                                                                              class="form-control"
                                                                              value="<%= coupons.discountAmount %>"
                                                                              id="exampleInputName1">
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label>Activation date</label>
                                                                        <input type="date" name="activationDate"
                                                                              class="form-control"
                                                                              value="<%= coupons.activationDate ? coupons.activationDate.toISOString().split('T')[0] : '' %>"
                                                                              id="activationDateInput">
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label>Expiry date</label>
                                                                        <input type="date" name="expiryDate"
                                                                              class="form-control"
                                                                              value="<%= coupons.expiryDate ? coupons.expiryDate.toISOString().split('T')[0] : '' %>"
                                                                              id="expiryDateInput">
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label>Criteria amount</label>
                                                                        <input type="number" name="criteriaAmount"
                                                                              class="form-control"
                                                                              value="<%= coupons.criteriaAmount %>"
                                                                              id="exampleInputName1">
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label>Users limit</label>
                                                                        <input type="number" name="usersLimit"
                                                                              class="form-control"
                                                                              value="<%= coupons.usersLimit %>"
                                                                              id="exampleInputName1">
                                                                  </div>
                                                                  <button type="submit"
                                                                        class="btn btn-primary mr-2">Submit</button>
                                                                  <a href="/admin/couponManagment"
                                                                        class="btn btn-primary mr-2">Cancel</a>
                                                            </form>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- content-wrapper ends -->
                  <!-- partial:partials/_footer.html -->
                  <!-- partial -->
            </div>
            <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->

            <%- include('../adminView/layout/adminFooter.ejs')%>