<%- include('../userView/layouts/header.ejs')%>

  <body>
    <!-- Start Hero Section -->
    <div class="hero">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>Wishlist</h1>
            </div>
          </div>
          <div class="col-lg-7">

          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->


    <%if(typeof product != 'undefined' || products.length>0 ){%>
      <div class="untree_co-section before-footer-section">
        <div class="container">
          <div class="row mb-5">
            <form class="col-md-12" method="post">
              <div class="site-blocks-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="product-thumbnail">Image</th>
                      <th class="product-name">Product</th>
                      <th class="product-price">Price</th>
                      <th class="product-remove">Remove</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% products.forEach((product)=>{ %>
                      <tr>
                        <td class="product-thumbnail">
                          <img src="/products/crop/<%= product.productId.images.image1 %>" alt="Image"
                            class="img-fluid">
                        </td>
                        <td class="product-name">
                          <h2 class="h5 text-black">
                            <%= product.productId.name %>
                          </h2>
                        </td>
                        <td>$<%= product.productId.price %>
                        </td>
                        <td><a onclick="deleteFromWish('<%= product.productId._id %>')"
                            class="btn btn-black btn-sm">X</a></td>
                      </tr>
                      <% }) %>

                  </tbody>
                </table>
              </div>
            </form>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row mb-5">
                <div class="col-md-6 mb-3 mb-md-0">
                  <button class="btn btn-black btn-sm btn-block">Update Cart</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%}else{%>
        <div class="untree_co-section before-footer-section"
          style="display: flex; justify-content: center; align-items: center;">
          <div class="col-md-6" style="align-items: center; display: flex; justify-content: center;">
            <h6 style="color: rgb(71, 69, 69);">Wishlist is Empty!!</h4>
          </div>
        </div>
        <%}%>
        <script>
            function deleteFromWish(proId) {
            console.log(proId);
            swal
              .fire({
                title: "Are You Sure?",
                Text: " You wont be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "cancel",
              })
              .then((result) => {
                if (result.isConfirmed) {
                  $.ajax({
                    url: "/removeWish",
                    data: {
                      product: proId,
                    },
                    method: "post",
                    success: (response) => {
                      if ((response.remove)) {
                        location.reload();
                        swal.fire({
                          title: "Deleted!",
                          text: "Your item has been deleted.",
                          icon: "Success",
                          timer: 1500,
                          showConfirmButton: false,
                        });
                      }
                    },
                  });
                }
              });
          }
        </script>
          <%- include('../userView/layouts/footer.ejs')%>